/*覆盖浏览器默认样式*/
ul, menu, dir {
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

select {
    border-radius: 0 !important;
    border: 0 !important;
    outline: 1px solid rgb(204,204,204) !important;
}

.hidden {
    display: none !important;
}

.no-box-shadow {
    box-shadow: none;
}

.no-padding-v {
    padding-top: 0 !important;
    padding-bottom: 0!important;
}

.opacity-hidden {
    height: 1px;
    opacity: 0;
    position: absolute;
}

#codeigniter_profiler {
    display: none;
}

html,
body {
    font-family: 'Microsoft YaHei','Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #333;
    font-size: 16px;
}

.btn {
    font-size: 16px;
}

@media (min-width: 768px) {
    .lg-hide {
        display: none !important;
    }

    .content-wrapper {
        margin-left: 223px;
    }

    .treeview>a {
        pointer-events: none;
    }

    .treeview-menu {
        display: block !important;
    }

    .pull-right-container {
        display: none;
    }

    .middle-content {
        min-height: 800px;
    }

    #query-form .box-body.text-center {
         text-align: left;
     }
}

.min-height-700 {
    min-height: 700px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-top-8 {
    margin-top: 8px;
}

.margin-bottom-8 {
    margin-bottom: 8px;
}

.margin-left-8 {
    margin-left: 8px;
}

.margin-top-16 {
    margin-top: 16px;
}

.margin-right-16 {
    margin-right: 16px;
}

.margin-top-24 {
    margin-top: 24px;
}

.margin-bottom-24 {
    margin-bottom: 24px;
}

.margin-left-24 {
    margin-left: 24px;
}

.margin-right-40 {
    margin-right: 40px;
}

.padding-right-24 {
    padding-right: 24px;
}

.padding-bottom-24 {
    padding-bottom: 24px;
}

.margin-top-26 {
    margin-top: 26px;
}

.color-999 {
    color: #999;
}

.color-4584c4 {
    color: #4584c4;
}

.back-fff {
    background-color: #fff;
}

.info-color {
    color: #00c0ef;
}

.inline-block {
    display: inline-block;
}

body {
    padding-top: 90px;
    background-color: #f2f2f2;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto 0;
    padding-top: 32px;
    height: auto !important;
    min-height: 400px !important;
}

.inner-wrapper {
    position: relative;
    background-color: #e6e6e6;
}

.content-wrapper {
    background-color: #e6e6e6;
}

.content {
    min-height: 500px;
    padding: 32px 20px 42px 20px;
}

.main-header {
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
}

.main-header .logo {
    margin: 20px 0;
    height: 50px;
    width: auto;
    font-family: 'Microsoft YaHei','Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.logo-lg {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.logo-lg>* {
    display: inline-block;
}

.logo-lg .logo-icon {
    top: -2px;
    position: relative;
    margin-right: 18px;
}

.header-content .logo {
    padding: 0;
    text-align: left;
}

.navbar-static-top>* {
    line-height: 90px;
    margin-left: 20px;
    font-size: 18px;
}

.navbar-static-top>*:nth-child(2) {
    margin-left: 32px;
}

.main-sidebar {
    width: 224px;
    padding-top: 0;
    background-color: #fff;
}

.content-wrapper {
    width: 100%;
    max-width: 976px;
    position: relative;
}

.sidebar-menu .menu-open>a>.fa-angle-right,
.sidebar-menu .menu-open>a>.pull-right-container>.fa-angle-right {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.treeview>a {
    color: #333;
    font-size: 20px;
}

.treeview-menu {
    padding-left: 0;
}

.treeview-menu>li>a {
    color: #999;
    font-size: 16px;
}

.treeview-menu>li>a {
    padding: 5px 5px 5px 24px;
}

.treeview-menu>li.active>a {
    padding: 5px 5px 5px 20px;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 6px solid #e6e6e6;
    border-bottom: 6px solid transparent;
    position: absolute;
    right: 0;
    top: 10px
}

.sidebar-menu {
    padding: 12px 0 0;
}

.sidebar-menu>li {
    margin-bottom: 6px;
}

.sidebar-menu>li>a {
    padding: 12px 5px 12px 24px;
    line-height: 1;
}

li.active>a {
    color: #ff5733;
}

li.active {
    position: relative;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-left: 4px solid #ff5733;
}

.menu-icon-container {
    display: inline-block;
    width: 20px;
    height: 20px;
    top: -2px;
    margin-right: 3px;
    position: relative;
    vertical-align: middle;
}

.menu-icon-container .menu-icon {
    width: 100%;
    height: 100%;
    background-size: contain;
    display: block;
    vertical-align: bottom;
}

.main-footer {
    margin-left: 0;
    padding: 24px 0;
    line-height: 1.33;
    position: relative;
    z-index: 1030;
    background-color: transparent;
    border: none;
    font-size: 12px;
    color: #999;
}

.main-footer.fixed {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.main-footer>div:first-child {
    margin-bottom: 16px;
}

.datetimepicker.dropdown-menu {
    position: absolute;
}

.date-range-picker + .caret,
.datetimepicker + .caret {
    position: absolute;
    left: auto;
    right: 22px;
    top: 14px;
    pointer-events: none;
    cursor: pointer;
    border-top: 6px dashed #666;
    border-top: 6px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.datetimepicker + .caret {
    right: 8px;
}

.datetimepicker {
    border-radius: 0;
    position: relative;
    padding: 6px 12px;
}

/*table*/
.box-body.with-table {
    overflow: auto;
}

.box-body.with-table .table {
    min-width: 936px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
    border-color: #f0f0f0;
}

.table th {
    font-weight: normal;
}

.table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>th {
    padding: 12px 8px;
    line-height: 1;
    background-color: #f8f5f5;
    border-top: none;
}

.table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>td {
    padding: 24px 8px;
}

.table>tbody>tr>th:first-child,
.table>tfoot>tr>th:first-child,
.table>thead>tr>th:first-child,
.table>tbody>tr>td:first-child,
.table>tfoot>tr>td:first-child,
.table>thead>tr>td:first-child {
    padding-left: 18px;
}

.with-table .table>thead>tr:nth-child(2)>td,
.with-table .table>tbody>tr:nth-child(2)>td,
.with-table .table>tfoot>tr:nth-child(2)>td {
    border-top: none;
}

.table.sort-enable th .sort-icon {
    width: 8px;
    height: 16px;
    display: inline-block;
    background-size: contain;
    position: relative;
    top: 2px;
    left: 8px;
}

.table.sort-enable th.sort-item {
    cursor: pointer;
}

.table th.sort-asc,
.table th.sort-desc {
    color: #ff5733;
}

.table th.sort-both .sort-icon {
    background-image: url("/assets/images/sort_both.png");
}

.table th.sort-asc .sort-icon {
    background-image: url("/assets/images/sort_asc.png");
}

.table th.sort-desc .sort-icon {
    background-image: url("/assets/images/sort_desc.png");
}

.table th.date {
    min-width: 100px;
}

.table th.datetime {
    min-width: 150px;
}

.table th.guild-name {
    min-width: 100px;
}

.pagination.pagination-normal {
    margin: 0 8px 0 0;
}

.pagination.pagination-normal,
.pagination.pagination-normal a,
.pagination.pagination-normal a:hover,
.pagination.pagination-normal a:focus,
.pagination.pagination-normal a:active {
    border: none;
    border-radius: 0;
}

.pagination-container {
    color: #666666;
}

.pagination>li>a, .pagination>li>span {
    padding: 6px 8px;
    border: none;
    background-color: transparent;
    color: #666;
}

.page-size-selector {
    border: 1px solid #dedede;
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
    position: relative;
}

.page-size-selector .caret {
    border-top: none;
    border-bottom: 4px dashed #666;
}

#page-size-container {
    top: -94px;
    min-width: 60px;
    left: -13px;
}

#first-page {
    padding-left: 0;
}

label {
    font-weight: normal;
}

.form-horizontal .control-label {
    padding-top: 0;
}

.form-horizontal .control-label.vertical-top {
    vertical-align: top;
    padding-top: 8px;
}

.form-control[readonly] {
    background-color: transparent;
}

.normal-box {
    width: 380px;
    margin: 0 auto;
}

.box.zgh-box {
    margin-bottom: 30px;
    border-radius: 0;
    border-top: none;
    box-shadow: none;
}

.zgh-box .box-body,
.zgh-box .panel {
    border-radius: 0;
}

.panel-body {
    padding: 24px 0 0;
    line-height: 1;
}

.panel-body>.form-group {
    margin-bottom: 24px;
}

form .panel {
    border: none;
    border-top: 1px solid #e6e6e6;
    box-shadow: none;
}

.box-header {
    padding: 14px 18px;
    line-height: 1;
    border-bottom: 1px solid #e6e6e6;
}

.box-header.no-border-bottom {
    border-bottom: none;
}

.box-header .box-title {
    font-size: 18px;
    color: #333;
}

.box-body {
    padding: 14px 18px;
}

.child-inline-block>* {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.display-table {
    display: table;
}

.display-table>* {
    display: table-cell;
}

/*Button*/
button.btn,
button.btn:hover,
button.btn:active,
button.btn:focus {
    position: relative;
    top: -1px;
    color: #fff;
}

button#query,
button#query:hover,
button#query:active,
button#query:focus {
    padding: 5px 41px 5px 41px;
    background-color: #ff5733;
}

.operation button,
.operation button:hover,
.operation button:active,
.operation button:focus {
    margin-right: 14px;
    padding: 6px 21px 6px 21px;
    background-color: #666;
}

.operation button:last-child {
    margin-right: 0;
}

button.main-color,
button.main-color:hover,
button.main-color:active,
button.main-color:focus {
    background-color: #ff5733;
    border-color: #ff5733;
}

button#save,
button#save:hover,
button#save:active,
button#save:focus {
    padding: 5px 33px;
}

/*daterange-picker*/
#query-form .date-range-picker-container {
    width: 252px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
}

/*query input*/
#query-form .text-input-container {
    width: 252px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
}

input[name='date_checked'] {
    margin-right: 8px;
}


/*
Loading样式
*/
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 100000000;
}

.loading-content {
    height: 40px;
    width: 40px;
    margin: -60px 0 0 -30px;
    top: 50%;
    left: 50%;
    position: absolute;
    padding: 10px;
    background-color: #000000;
    opacity: 0.5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.loading-icon {
    width: 40px;
    height: 40px;
    left: 50%;
    margin-left: -20px;
    background-size: cover;
    position: absolute;
    background-image: url("/assets/images/loading.gif");
    background-repeat: no-repeat;
    background-position: center center;
}

#loading-tip {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 200px;
    color: red;
    text-align: center;
    margin-left: -100px;
    font-size: 20px;
}

/*
表单验证错误提示
*/
form input.error {
    border: 1px dotted red;
}

form label.error {
    position: absolute;
    color: red;
    font-size: 14px;
    margin-top: 5px;
    line-height: 1;
}

/*
表单样式
*/
#add-form,
#update-form {
    width: 380px;
    margin: 0 auto;
}

#add-form .panel,
#update-form .panel {
    border-top: none;
}

#add-form .panel-body,
#update-form .panel-body {
    padding: 50px 0 0 0;
}

.normal-box .form-group>*,
#add-form .form-group>*,
#update-form .form-group>* {
    display: inline-block;
}

.normal-box .form-group>*:first-child,
#add-form .form-group>*:first-child,
#update-form .form-group>*:first-child {
    width: 27%;
    padding-right: 12px;
    text-align: right;
}

.normal-box .form-group>*:last-child,
#add-form .form-group>*:last-child,
#update-form .form-group>*:last-child {
    width: 69%;
}

.form-group {
    position: relative;
    margin-bottom: 24px;
}

/*
覆盖默认样式
*/
.content-header>.breadcrumb {
    float: none;
    position: relative;
    top: 0;
}

/*
弹出对话框样式
*/
.modal-dialog {
    width: 560px;
}

.modal-header,
.modal-body,
.modal-footer {
    padding: 14px 18px;
}

.modal.modal-info .modal-header,
.modal.modal-info .modal-body,
.modal.modal-info .modal-footer,
.modal.modal-alert .modal-header,
.modal.modal-alert .modal-body,
.modal.modal-alert .modal-footer {
    background-color: #fff!important;
    color: #333 !important;
}

.modal.modal-info .modal-header,
.modal.modal-info .modal-body,
.modal.modal-info .modal-footer,
.modal.modal-alert .modal-header,
.modal.modal-alert .modal-body,
.modal.modal-alert .modal-footer {
    border: 1px solid #e6e6e6;
}

.modal-dialog .dialog-title {
    font-size: 18px;
}

.modal-dialog .modal-body {
    max-height: 400px;
    overflow-y: auto;
}

.modal button.close {
    width: 15px;
    height: 15px;
    margin-top: 2px;
    background-size: contain;
    background-image: url("/assets/images/dialog_close.png");
    background-repeat: no-repeat;
    opacity: 1;
}

.simple-modal .modal-footer {
    display: none;
}

.modal-footer .btn+.btn {
    margin-left: 60px;
}

.modal-footer.text-center {
    text-align: center;
}

.modal.modal-info .modal-footer button,
.modal.modal-alert .modal-footer button,
.modal-footer .btn,
.modal-footer .btn:hover,
.modal-footer .btn:active,
.modal-footer .btn:focus {
    padding: 7px 21px;
    background-color: #ff5733;
    border-color: #ff5733;
    color: #fff;
    font-size: 13px;
    border-radius: 0;
}

.modal-confirm .btn-ok,
.modal-confirm .btn-ok:hover,
.modal-confirm .btn-ok:active,
.modal-confirm .btn-ok:focus {
    background-color: #ff5733;
    border-color: #ff5733;
}

.progress-bar {
    height: 8px;
    margin-top: 16px;
    float: none;
}

/*其他*/

.page-size-selector {
    border: 1px solid #dedede;
    border-radius: 3px;
    padding: 3px;
    margin: 0 6px;
    cursor: pointer;
}

.navbar-static-top a {
    color: #999;
}

textarea {
    resize: none;
}

.icon {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

.text-overflow {
    overflow: hidden;
    -ms-word-break: break-all;
    word-break: break-all;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}
